.amenity-list {
  display: flex;
  justify-content: start;
  width: 100%;
  margin: auto;
  padding-left: 0;
  position: fixed;
  z-index: 9;
  background-color: white;
}

.amenity {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.amenity-image {
  width: 24px;
  color: grey;
  margin: auto;
}

.amenity-name {
  padding: 5px 10px;
  /* margin: 0 15px; */
  font-size: 12px;
}

.rooms-list {
  position: absolute;
  top: 10px;
  margin: 65px auto;
  padding-top: 0;
}

.room-card-list {
  display: grid;
  grid-template-columns: 15.5% 15.5% 15.5% 15.5% 15.5% 15.5%;
  grid-row-gap: 125px;
  width: 92.5%;
  grid-column-gap: 1.25%;
  margin: 72px auto;
  padding-left: 0;
}

@media screen and (max-width: 1700px) {
  .room-card-list {
    grid-template-columns: 18% 18% 18% 18% 18%;
    grid-column-gap: 1.5%;
  }
}

@media screen and (max-width: 1500px) {
  .room-card-list {
    grid-template-columns: 22% 22% 22% 22%;
    grid-column-gap: 1.75%;
  }
}

@media screen and (max-width: 1200px) {
  .room-card-list {
    grid-template-columns: 31.3% 31.3% 31.3%;
    grid-column-gap: 2%;
  }
}

@media screen and (max-width: 900px) {
  .room-card-list {
    grid-template-columns: 47.75% 47.75%;
    grid-column-gap: 2.25%;
  }
}

@media screen and (max-width: 500px) {
  .room-card-list {
    grid-template-columns: auto;
  }
}

.room-card-list-item {
  width: auto;
  aspect-ratio: 1;
}
