.room-card {
  width: 100%;
  font-size: 14px;
}

.card-image {
  position: relative;
}

.card-image img {
  object-fit: cover;
  aspect-ratio: 1;
}

.favorite-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
}

.favorite-icon-selected {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: red;
}

.room-card:hover {
  cursor: pointer;
}

.room-card img {
  max-width: 100%;
  border-radius: 10px;
}
