.room-card {
  width: 100%;
  font-size: 20px;
}

.card-image img {
  object-fit: cover;
  /* height: 12vw; */
  aspect-ratio: 1;
}

.room-card:hover {
  cursor: pointer;
}

.room-card img {
  max-width: 100%;
  border-radius: 10px;
}
