.empty-input {
  
}
.main {
  height: 100vh;
  width: 500px;
  margin:auto;
  font-size: 1.5em;
}

.add-room {
  position: absolute;
  top: 150px;
  display: flex;
  flex-direction: column;
  width: 600px;
  border: 1px solid grey;
  box-shadow: 2px 3px 5px rgba(0,0,0,.3);
  padding: 25px;
}

.add-room label {
  width: 100%;
  margin: 0;

}

.add-room input {
  width: 100%;
  /* line-height: 2em; */
  font-size: 1.25em;
}

.error {
  margin: 0 0 10px 0;
  height: .5em;
  color: red;
  font-size: small;
  font-style: italic;
}