button {
  color: beige;
  background-color: rgb(240, 91, 96);
  padding: 5px 10px;
  margin: 3px;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(255, 90, 95);
  height: 45px;
  font-size: x-large;
  cursor: pointer;
}

.profile-button {
  font-size: large;
  height: auto;
  width: auto;
  margin: 0;
}

.header-mid {
  display: flex;
}

table img {
  border-radius: 15px;
}
td {
  margin: 0;
  padding-right: 20px;
  border: none;
}
table {
  border-collapse: collapse;
}

tr:nth-child(even) {
  border-radius: 15px;
  background: #CCC;
}

tr:hover {
  cursor: pointer;
}
th {
  padding-right: 35px;
}

td:first-child,
th:first-child {
  border-radius: 10px 0 0 10px;
}

td:last-child,
th:last-child {
  border-radius: 0 10px 10px 0;
  cursor: default;
}

tr:nth-child(odd) {
  background: #FFF;
  border-radius: 15px;
  border-radius: 15px;
}

.header-mid form button {
  margin-left:0;
  border-radius: 0 15px 15px 0;
  border-left: black solid 1px;
  margin-right: 20px;
}

.header-mid form input {
  margin:0;
  font-size:34px;
  border-radius: 15px 0 0 15px;
  width:200px;
  border-right: none;
  position: relative;
  top: 4px;
}

.session-links {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-self: flex-start;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 375px;
  /* height: 0; */
  position: relative;
}

.login-form label {
  color: white;
}

.modal {
  height: 0;
  position: fixed;
  top: 25%;
  right: 45.5%;
}

.modal button {
  width: 100%;
}

.login-form input {
  width: 100%;
  margin: 10px 3px;
  font-size:35px;
  border-radius: 6px;
}

.add-room {
  margin-right: 0;
}

.rooms-list {
  padding: 150px 0;
}

.profile-email {
  font-style: italic;
  width: auto;
}

.profile-username {
  font-weight: bold;
}

a {
  color: beige;
  text-decoration: none;
  font-size: x-large;
}
a:visited {
  color: beige;
  text-decoration: none;
}

li {
  display: flex;
  justify-content: space-between;
}

.user-settings {
  margin-right: 15px;
}

.user-settings button {
  margin-right: 10px;
  float: right;
}

.profile-dropdown {
  position: absolute;
  border: solid black 1px;
  border-radius: 3px;
  top: 85px;
  right: 50px;
  padding: 7px 3px;
  z-index: 9;
  background-color: white;
}

.profile-dropdown li {
  padding: 6px;
  white-space: nowrap;
  width: auto;
}

.header {
  min-width: 1215px;
  width: auto;
  background-color: white;
  height: 150x;
  margin: 0;
  padding: 30px;
  box-shadow: 3px 4px 20px rgb(126, 126, 126, .2);
  margin-bottom: 15px;
}

.main-room-display {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picture-box {
  width: 90%;
  max-width: 1250px;
  max-height: 500px;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.reservation-error {
  color: red;
}

.picture-box > img {
  object-fit: cover;
  height: 100%;
  width: 50%;
}

.main-image {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.main-image img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.image-1 {
  object-fit: cover;
}

.smaller-images {
  width: 45%;
  margin-left: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
}

table {
  margin: 150px auto;
  width: 75%;
}

.hidden {
  visibility: hidden;
}

table img {
  width: 250px;
}

.picture-box .smaller-images img {
  width: 100%;
  height: 300px;
  position: relative;
  bottom: 50px;
}

.room-display-body {
  position: relative;
  width: 100%;
  padding: 50px 250px;
  height: 2000px;
  font-size: 20px;
  display: flex;
  align-items: flex-start;
}

.room-header {
  font-size: 30px;
}

.room-display-amenities {
  padding: 200px 5px;
  margin: -200px 0;
  font-size: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
}

.amenities-left {
  grid-column-start: 1;
}

.amenities-right {
  grid-column-start: 2;
}

.row-0 {
  grid-row-start: 1;
}
.row-1 {
  grid-row-start: 2;
}
.row-2 {
  grid-row-start: 3;
}
.row-3 {
  grid-row-start: 4;
}
.row-4 {
  grid-row-start: 5;
}

.reservation-scroller {
  height: 100%;
  flex-basis: 33%
}

.reservation-box {
  position: sticky;
  top: 125px;
  align-self: flex-start;
  border: 1px solid rgba(126, 123, 123, 0.4);
  border-radius: 20px;
  margin: 30px 0;
  box-shadow: 3px 3px 35px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.description {
  border-bottom: 1px solid grey;
  padding: 60px;
}

.room-info {
  margin: 30px;
  flex-basis: 67%;
  flex-shrink: 2;
}

.reservation-form {
  margin: 15px 25px;
}

.reservation-form input{
  height: 75px;
  font-size: 25px;
}

.reservation-checkin {
  width: 50%;
}
.reservation-checkout {
  width: 50%;
}

.reservation-checkin input {
  width: 50%;
  border-radius: 15px 0 0 0;
  font-size: 20px;
  padding: 15px;
}

.reservation-checkout input {
  width: 50%;
  border-radius: 0 15px 0 0;
  font-size: 20px;
  padding: 15px;
}
.reservation-guests input {
  width: 100%;
  border-radius: 0 0 15px 15px;
}

.reservation-button {
  box-shadow: none;
  background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
  width: 100%;
  border-radius: 15px;
  margin-top: 20px;
  height: 75px;
}

#hide {
  position: sticky;
  top: 0;
  height:115px;
  width: 100%;
  margin: 0;
  background-color: white;
  z-index: 5;
  border-bottom: 1px solid rgba(83, 83, 83, .1);
  font-size: 20px;
  color: rgb(75, 74, 74);
  display: flex;
  font-weight: bold;
  flex-direction: row;
  align-items: center;
  padding: 0 75px;
}

#hide span {
  margin: 25px;
  align-self: center;
}

#hide span:hover {
  cursor: pointer;
}

#disabled {
  background-color: grey;
  background: grey;
  transition: none;
  transform: none;
  color: black;
  cursor: default;
}

.calendar-div {
  margin: 150px 0px;
  border-top: 1px solid grey;
  /* border-bottom: 1px solid grey; */
  padding-top: 50px;
  /* padding-bottom: 50px; */
  display:flex;
  width:auto;
  height: 1500px;
}

.splash-image {
  width: 100%;
  margin: 0;
}

.splash-image:hover {
  cursor: pointer;
}

.splash-back {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.986);
  position: absolute;
  width: 100%;
  top: 0;
  overflow: hidden;
}

.splash-logo {
  position: relative;
  bottom: 68%;
  /* width: 400px; */
  left: 25px;
}

.splash-logo:hover {
  cursor: pointer;
}

.splash-tagline {
  position: relative;
  bottom: 7%;
  left: 65.5%;
  color: rgba(250, 250, 250, .6);
  font-size: 35px;
  font-family: 'Bubbler One', sans-serif;
}

.splash-tagline:hover {
  cursor: pointer;
}

.modal-text {
  color: white;
  margin: 10px;
}

.modal-text-click {
  margin-left: 0;
}

.modal-text-click:hover {
  cursor: pointer;
  color:rgba(255, 255, 255, 0.5)
}

.login-form-button {
  background-color: rgba(240, 91, 96, 0.603);
  box-shadow: none;
  color: black;
}

.login-form-button:hover {
  background-color: rgba(240, 91, 96, 0.8);
  color: rgba(255, 255, 255, 0.5);
}

.login-errors {
  color: red;
}