* {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.month {
  padding: 10px 35px;
  text-align: center;
  font-size: 18px;
}

.month-header span {
  margin: 10px;
}

.month .prev {
  float: left;
  cursor: pointer;
}

.month .next {
  float: right;
  cursor: pointer;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
}

.weekdays div {
  display: inline-block;
  color: #666;
  text-align: center;
  width: 14.1%;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.days div {
  display: inline-block;
  height: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 14px;
  font-weight: bold;
  margin: 1px 0;
}

.clickable-date {
  cursor: pointer;
  color: black;
  border: 1px solid rgba(255, 255, 255, 0);
}
.temp-clickable-date {
  cursor: pointer;
}

.date {
  border-radius: 50%;
  color: black;
  border: 1px solid rgba(255, 255, 255, 0);
}

.clickable-date-clear {
  cursor: pointer;
  margin-top: 50px;
}

.clickable-date:hover {
  color: black;
  border-radius: 50%;
  border: 1px solid #666;
  background-color: white;
  width: 100%;
}

.active-backing {
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(102, 102, 102, 0.09);
  z-index: 0;
}

.active-backing > .clickable-date {
  margin: -1px;
}

.transition-last {
  background: linear-gradient(
    90deg,
    rgba(102, 102, 102, 0.09),
    rgba(102, 102, 102, 0.01)
  );
  width: 200%;
  display: grid !important;
  grid-template-rows: 1fr 1fr;
}

.transition-last > .active-date {
  width: 50%;
  margin-right: 0;
}

.transition-first {
  background: linear-gradient(
    90deg,
    rgba(102, 102, 102, 0.01),
    rgba(102, 102, 102, 0.09)
  );
  width: 200%;
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  position: relative;
  right: 100%;
}

.transition-first > .active-date {
  margin-left: 0;
  position: relative;
}

.first-date {
  background: black;
  color: white;
  border-radius: 50%;
  border: 1px solid black;
  width: 100%;
}

.first-backing > .first-date {
  margin:  0;
}

.first-backing {
  background: linear-gradient(90deg, white 50%, rgba(102, 102, 102, 0.09) 50%);
}

.last-date {
  background: black;
  color: white;
  border-radius: 50%;
  border: 1px solid black;
  width: 100%;
}

.temp-clickable-date {
  background-color: white;
  color: black;
}

.last-backing > .last-date {
  /* border: none; */
  margin: 0;
}

.last-backing {
  background: linear-gradient(90deg, rgba(102, 102, 102, 0.09) 50%, white 50%);
}

.calendar {
  cursor: default;
  width: 400px;
  margin: auto;
  margin-left: 5px;
  height: 465px;
}

.booked-date {
  text-decoration: line-through;
  color: grey;
}

.expired-date {
  color: rgba(0, 0, 0, 0.192);
}

.search-button-container {
  display: flex;
  margin-top: 25px;
  justify-content: end;
}

.search-button {
  font-size: 15px;
  width: 225px;
  border-radius: 5px;
  margin-right: 0;
}
