* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: 'Roboto', Arial, Helvetica, sans-serif}

.month {
  padding: 10px 35px;
  background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
  text-align: center;
}

.month-header span{
  font-size: 50px;
  margin: 10px;
}

.month .prev {
  float: left;
  cursor:pointer;
}

.month .next {
  float: right;
  cursor:pointer;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
}

.weekdays div {
  display: inline-block;
  color: #666;
  text-align: center;
  width: 14.1%;
}

.days div {
  display: inline-block;
  width: 14%;
  height: 75px;
  text-align: center;
  line-height: 3em;
  font-size:25px;
}

.clickable-date {
  cursor: pointer;
}
.clickable-date:hover {
  cursor: pointer;
  border-radius:  50%;
  color: black;
  z-index: -10;
}

.clickable-date-clear {
  cursor: pointer;
}

.active-date {
  background-color: rgb(189, 189, 189);
}

.first-date {
  background: black;
  color: white;
  border-radius: 50% 0 0 50%;
  border-radius: 50%;
}

.last-date {
  background: black;
  color: white;
  border-radius: 50%;
}

.stretch-right {
  width: 150%;
}

.calendar {
  cursor: default;
  width: 500px;
  margin: auto;
}

.booked-date {
  text-decoration: line-through;
  color: grey;
}

#stretch-child {
  position: absolute;
  width: 10px;
  left: 10%;
  background-color: rgb(189, 189, 189);
  /* background-color: blue; */
}