* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: 'Roboto', Arial, Helvetica, sans-serif}

.month {
  padding: 10px 35px;
  background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
  text-align: center;
}

.month-header span{
  font-size: 50px;
  margin: 10px;
}

.month .prev {
  float: left;
  cursor:pointer;
}

.month .next {
  float: right;
  cursor:pointer;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
}

.weekdays div {
  display: inline-block;
  color: #666;
  text-align: center;
  width: 14.1%;
}

.days div {
  display: inline-block;
  width: 14%;
  height: 75px;
  text-align: center;
  line-height: 3em;
  font-size:25px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.clickable-date {
  cursor: pointer;
  color: black;
  border: 1px solid rgba(255, 255, 255, 0);
}

.date {
  border-radius: 50%;
  color: black;
  border: 1px solid rgba(255, 255, 255, 0);
}

.clickable-date:hover {
  color: black;
  border-radius: 50%;
  border: 1px solid #666;
}

.clickable-date-clear {
  cursor: pointer;
}

.active-date {
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(102, 102, 102, 0.05);
}

.first-date {
  background: black;
  color: white;
  border-radius: 50%;
  border: 1px solid black;
}

.last-date {
  background: black;
  color: white;
  border-radius: 50%;
  border: 1px solid black;
}

.calendar {
  cursor: default;
  width: 500px;
  margin: auto;
}

.booked-date {
  text-decoration: line-through;
  color: grey;
}

.expired-date {
  color: rgba(0, 0, 0, 0.192);
}